@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
	body{
		background-image: url("Images/bga.png");
		background-repeat:no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		
	}
#PRIVACY_Forum_mailing_list {
	position: absolute;
	width: 2560px;
	height: 2869px;
	overflow: hidden;
	
}
#acq {
	position: absolute;
	width: 1801px;
	height: 2346px;
	left: 380px;
	top: 220px;
	overflow: visible;
}
#acr {
	position: absolute;
	width: 1801px;
	height: 2346px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#acs {
	fill: rgba(173,173,173,1);
}
.acs {
	position: absolute;
	overflow: visible;
	width: 1778px;
	height: 2346px;
	left: 23px;
	top: 0px;
}
#act {
	fill: rgba(0,166,81,1);
}
.act {
	position: absolute;
	overflow: visible;
	width: 1777px;
	height: 31px;
	left: 24px;
	top: 2085px;
}
#acu {
	fill: rgba(255,255,255,1);
}
.acu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 90px;
	left: 0px;
	top: 1585px;
}
#acv {
	fill: rgba(255,255,255,1);
}
.acv {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 90px;
	left: 0px;
	top: 790px;
}
#acw {
	fill: rgba(255,255,255,1);
}
.acw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 90px;
	left: 0px;
	top: 570px;
}
#acx {
	fill: rgba(255,255,255,1);
}
.acx {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 90px;
	left: 0px;
	top: 348px;
}
#acy {
	border: 0;
	left: 81px;
	top: 110px;
	position: absolute;
	overflow: visible;
	width: 1651px;
	height: 1954px;
	text-align: left;
	font-family: Pontano Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#acz {
	border: 0;
	left: 485px;
	top: 236px;
	position: absolute;
	overflow: visible;
	width: 834px;
	height: 47px;
	text-align: center;
	font-family: Crimson Text;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ada {
	position: absolute;
	width: 264px;
	height: 268px;
	left: 769px;
	top: 9px;
	overflow: visible;
}
#adb {
	border: 0;
	left: 81px;
	top: 2139px;
	position: absolute;
	overflow: visible;
	width: 786px;
	height: 123px;
	text-align: left;
	font-family: Pontano Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#adc {
	position: absolute;
	width: 2560px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#add {
	position: absolute;
	width: 2560px;
	height: 99px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ade {
	fill: rgba(43,57,144,1);
}
.ade {
	position: absolute;
	overflow: visible;
	width: 2560px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#adf {
	mix-blend-mode: lighten;
	border: 0;
	left: 2379.5px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adg {
	border: 0;
	left: 1597.932px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adh {
	border: 0;
	left: 1749.607px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adi {
	border: 0;
	left: 952.257px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 239px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adj {
	border: 0;
	left: 1197.932px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 401px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adk {
	border: 0;
	left: 786.582px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 38px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#adl {
	border: 0;
	left: 149px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 242px;
	height: 82px;
	text-align: left;
	font-family: Crimson Text;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(161,157,157,1);
}
#adm {
	mix-blend-mode: normal;
	position: absolute;
	width: 112px;
	height: 95px;
	left: 39px;
	top: 6px;
	overflow: hidden;
}
#adn {
	position: absolute;
	width: 124px;
	height: 126px;
	left: -6px;
	top: 2px;
	overflow: visible;
}
#ado {
	position: absolute;
	width: 2560px;
	height: 200px;
	left: 0px;
	top: 2669px;
	overflow: visible;
}
#adp {
	position: absolute;
	width: 2560px;
	height: 200px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#adq {
	fill: rgba(10,10,10,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.adq {
	position: absolute;
	overflow: visible;
	width: 2560px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#adr {
	border: 0;
	left: 36px;
	top: 159px;
	position: absolute;
	overflow: visible;
	width: 668px;
	height: 22px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ads {
	border: 0;
	left: 36px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 313px;
	height: 166px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#adt {
	border: 0;
	left: 181.876px;
	top: 159.573px;
	position: absolute;
	overflow: visible;
	width: 662px;
	height: 22px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#adu {
	position: absolute;
	width: 325px;
	height: 115px;
	left: 2092px;
	top: 30px;
	overflow: visible;
}
#adv {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 248px;
	top: 38px;
	overflow: visible;
}
#adw {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 0px;
	top: 38px;
	overflow: visible;
}
#adx {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 163px;
	top: 53px;
	overflow: visible;
}
#ady {
	position: absolute;
	width: 86px;
	height: 86px;
	left: 77px;
	top: 29px;
	overflow: visible;
}
#adz {
	border: 0;
	left: 62px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}